html {
    background-color: white;
}
body {
    max-width: 1420px;
    overflow-x: hidden;
}

.error {
    border: 2px solid #a14141;
    border-radius: 10px;
    background-color: rgba(255, 182, 169, 0.527);
    font-family: Poppins;
    padding: 5px;
}
.logo1 {
    position: absolute;
    left: 4.69%;
    right: 90.47%;
    top: 6.76%;
    bottom: 87.87%;
}
.container1 {
    display: block;
}
.form-container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    align-items: center;
}
.form-textarea {
    height: 57px;
    width: 532px;
    border: 2px solid #B3B3B3;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #333333;
    text-indent: 17px;
}
.form-textarea:focus {
    outline: none;
    border-color: #8552E1;
}
.form-group {
    position: static;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 26px 0px;
}
label {
    font-family: Khula;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #71717A;
}
.form-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 96px;
}
.form-button {
    display: flex;
    padding: 21px 240px;
    margin-top: 79px;
    width: 530px;
    height: 68px;
    background: #8553E0;
    border-radius: 13px;
    border: none;
    position: static;
    font-family: Khula;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.form-button:hover {
    box-shadow: 0px 15px 40px rgba(133, 82, 225, 0.21);
    cursor: pointer;
}
.form-line {
    font-family: Khula;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #71717A;
    margin-top: 53px;
}
.form-line-link {
    text-decoration-line: none;
    color: #8553E0;
}
.form-line-link:hover {
    color: #B3B3B3;
    cursor: default;
}
.circle1 {
    position: absolute;
    width: 365px;
    height: 365px;
    left: 85%;
    top: 104px;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.1);
}
.circle2 {
    position: absolute;
    width: 365px;
    height: 365px;
    left: 90%;
    top: 104px;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.1);
}
.circle3 {
    position: absolute;
    width: 679px;
    height: 679px;
    left: -156px;
    bottom: -185px;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.1);
}
.home-container {
    display: grid;
    grid-template-columns: 20% 60% 30%;
    grid-template-rows: auto;
    grid-template-columns: "sidebar | main | sideboard"
                            "sidebar | main | sideboard"
                            "sidebar | main | sideboard";
}
.home {
    margin: 10px 48px;
}
.sideboard {
    background: #FCFCFC;
    border: 1px solid rgba(171, 171, 171, 0.1);
    box-sizing: border-box;
    border-radius: 8px 0px 0px 8px;
}
.home-top {
    display: flex;
}
.home-top-part1 {
    display: flex;
    flex-direction: column;
}
.wellcome {
    grid-area: main;
    width: 517px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 10px;
    color: #000000;
}
.subs-chart {
    width: fit-content;
    height: 294px;
    background: #FFFFFF;
    box-shadow: 3px 20px 50px rgba(173, 173, 173, 0.09);
    border-radius: 16px;
    flex-direction: column;
}
.leaderboard {
    grid-area: sideboard;
    width: auto;
    background: #FFFFFF;
    box-shadow: 0px 15px 90px rgba(173, 173, 173, 0.09);
    border-radius: 16px;
    font-family: khula;
    display: block;
}
.section-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 34px;
    color: #000000;
}